@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');


body {
	font-family: 'Ubuntu';
	max-width: 1200px;
	margin: 0 auto;
}

.container-title {
	padding: 30px;
	background-color: #eee;
	margin-bottom: 50px;
	color: #222;
}

main {
    padding-top: 2rem;
	display: flex;
	gap: 30px;
	margin-bottom: 80px;
}


.container-img-1 {
	background-color: #f7f7f9;

    background-image: url('assets/hotel-2.jpg');
    width: 55%;
    height: 100%;
    padding-top: 60.4%;
    background-size: 200% auto;
}


.container-img-2 {
	background-color: #f7f7f9;

    background-image: url('assets/Hotel-Flamingo.png');
    width: 50%;
    height: 100%;
    padding-top: 60.4%;
    background-size: 215% auto;
}

.container-img-3 {
	background-color: #f7f7f9;

    background-image: url('assets/Hotel-Esperanza.png');
    width: 55%;
    height: 100%;
    padding-top: 55.4%;
    background-size: 200% auto;
}

.container-img-4 {
	background-color: #f7f7f9;

    background-image: url('assets/Hotel-GammaAcapulco.png');
    width: 55%;
    height: 100%;
    padding-top: 60.4%;
    background-size: 200% auto;
}

.container-img-5 {
	background-color: #f7f7f9;

    background-image: url('assets/Hotel-RoyalSolaris.png');
    width: 55%;
    height: 100%;
    padding-top: 60.4%;
    background-size: 200% auto;
}

.container-img-6 {
	background-color: #f7f7f9;

    background-image: url('assets/Hotel-GRCaribeBySolarisDeluxe.png');
    width: 55%;
    height: 100%;
    padding-top: 60.4%;
    background-size: 200% auto;
}




.container-info-hotel {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.precio{
    padding-bottom: 20px;
    color: #222;
	font-weight: 700;color: #222;
	font-weight: 700;
    font-size: 24px;
}

.container-hotel-nombre {
	padding-bottom: 10px;
	border-bottom: 1px solid #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-hotel-nombre span {
	font-size: 24px;
	font-weight: 300;
}

.container-detalles-hotel {
	padding: 30px 0;
}

.form-group {
    padding-top: 30px;
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 15px;
}

.form-group label {
	width: 100px;
	color: #222;
	font-weight: 700;
}

.form-group select {
	width: 300px;
	border: none;
	padding: 12px 15px;
	background-color: #f7f7f7;
	outline: none;
	color: #666;
}

.container-add-reservacion {
	display: flex;
	gap: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
}


.container-add-reservacion label {
	width: 100px;
	color: #222;
	font-weight: 700;

}

.container-cantidad-personas {
	display: flex;
    align-items: center;
	gap: 20px;
}

.dateIn{
    background-color: #f7f7f7;
    align-items: center;
	padding: 10px;
	width: 110px;
	height: 100%;
	color: #666;
	font-weight: 500;
	line-height: 0;
    font-size: 16px;
    border-radius: 10%;
    border: 1px solid #BEBEBE;
}

.dateOut{
    background-color: #f7f7f7;
    align-items: center;
	padding: 10px;
	width: 110px;
	height: 100%;
	color: #666;
	font-weight: 500;
	line-height: 0;
    font-size: 16px;
    border-radius: 10%;
    border: 1px solid #BEBEBE;
}


.input-cantidad {
	background-color: #f7f7f7;
	border: none;
	padding: 5px;
	width: 110px;
	height: 100%;
	color: #666;
	font-weight: 500;
	line-height: 0;
}
.input-cantidad:focus {
	outline: none;
}

.input-cantidad::-webkit-inner-spin-button,
.input-cantidad::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

.btn-increment-decrement {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 7px;
	right: 7px;
}

.btn-increment-decrement i {
	font-size: 11px;
	color: #666;
	cursor: pointer;
}

.fa-chevron-down:hover {
	color: #1bbeb4;
}

.fa-chevron-up:hover {
	color: #1bbeb4;
}

.btn-reservar{
    padding: 0.5rem 0.5rem;
    outline: none;
    border: none;
    font-size: 0.8rem;
    color: var(--blanco);
    background-color: var(--color-primario);
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-reservar:hover {
    background-color: var(--color-primario-oscuro);
  }

.hidden {
	display: none;
}

.container-descripcion,
.container-servicios{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0;
}

.title-descripcion,
.title-servicios{
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.title-descripcion h4,
.title-servicios h4 {
	font-weight: 300;
	color: #666;
	font-size: 14px;
}

.text-descripcion{
	font-size: 13px;
	color: #252525;
	line-height: 22px;
	margin-top: 25px;
}

.icon-servicios {
    padding-top: 1.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    gap: 20px; /* Espacio entre elementos */
  }
  
  .icon-servicios > div {
    font-size: 13px;
	color: #252525;
	line-height: 18px;  
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre icono y texto */
  }