@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --color-primario: #2c3855;
  --color-primario-oscuro: #435681;
  --texto-oscuro: #333333;
  --texto-claro: #767268;
  --extra-claro: #f3f4f6;
  --blanco: #ffffff;
  --ancho-maximo: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.seccion__contenedor {
  max-width: var(--ancho-maximo);
  margin: auto;
  padding: 5rem 1rem;
}

.encabezado__seccion {
  font-size: 2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: var(--ancho-maximo);
  margin: auto;
  padding: 1.2rem 2rem;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
}

.nav__fija {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: sticky; 
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.nav__enlaces {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.enlace a {
  font-weight: 500;
  color: var(--texto-claro);
  transition: 0.3s;
}

.enlace a:hover {
  color: var(--color-primario);
}

.encabezado__contenedor {
  padding: 1rem 1rem 5rem 1rem;
}

.contenedor__imagen__encabezado {
  position: relative;
  min-height: 500px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  animation: cambio-imagen 20s infinite; /* Cambiar cada 20 segundos */
}

@keyframes cambio-imagen {
  0%, 25% { background-image: linear-gradient(to right, rgba(44, 56, 85, 0.9), rgba(100, 125, 187, 0.1)), url("assets/header1.jpg"); }
  25%, 50% { background-image: linear-gradient(to right, rgba(44, 56, 85, 0.9), rgba(100, 125, 187, 0.1)), url("assets/header2.jpg"); }
  50%, 75% { background-image: linear-gradient(to right, rgba(44, 56, 85, 0.9), rgba(100, 125, 187, 0.1)), url("assets/header3.jpg"); }
  75%, 100% { background-image: linear-gradient(to right, rgba(44, 56, 85, 0.9), rgba(100, 125, 187, 0.1)), url("assets/header4.jpg"); }
}




.contenido__encabezado {
  max-width: 600px;
  padding: 5rem 2rem;
}

.contenido__encabezado h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--blanco);
  transform: translateX(20px);
}

.contenido__encabezado p {
  padding-top: 1rem;
  color: var(--extra-claro);
  transform: translateX(20px);
}
.contenido__encabezado h2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--blanco);
  transform: translateX(20px);
}

.contenedor__reserva {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 6rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}


.contenedor__reserva form {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.contenedor__reserva .grupo__entrada {
  width: 100%;
  position: relative;
}

.contenedor__reserva .grupo__entrada label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--texto-oscuro);
  pointer-events: none;
  transition: 0.3s;
}

.contenedor__reserva .grupo__entrada input:focus ~ label,
.contenedor__reserva .grupo__entrada input:not(:placeholder-shown) ~ label {
  top: -40%;
  font-size: 1rem; /* Puedes ajustar el tamaño del texto según tus preferencias */
}

.contenedor__reserva input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-primario);
  color: var(--texto-oscuro);
}

.contenedor__reserva input:focus ~ label {
  font-size: 0.8rem;
  top: 0;
}

.contenedor__reserva .grupo__formulario p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--texto-claro);
}

.contenedor__reserva .btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  outline: none;
  border: none;
  font-size: 1.1rem;
  color: var(--blanco);
  background-color: var(--color-primario);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;

}

.contenedor__reserva .btn:hover {
  background-color: var(--color-primario-oscuro);
}

.btn{
  padding-top: 2rem;
  
}




.grid__populares {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.tarjeta__popular {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.imagen-hotel-1 {
  background-image: url('assets/hotel-2.jpg');
  background-position: center;
  width: 100%;
  background-size: 100% auto;
  padding-top: 55%;
}

.imagen-hotel-2 {
  background-image: url('assets/Hotel-Flamingo.png');
  background-position: center;
  width: 100%;
  background-size: 100% auto;
  padding-top: 55%;
}

.imagen-hotel-3 {
  background-image: url('assets/Hotel-Esperanza.png');
  background-position: center;
  width: 100%;
  background-size: 100% auto;
  padding-top: 55%;
}

.imagen-hotel-4 {
  background-image: url('assets/Hotel-GammaAcapulco.png');
  background-position: center;
  width: 100%;
  background-size: 100% auto;
  padding-top: 55%;
}

.imagen-hotel-5 {
  background-image: url('assets/Hotel-RoyalSolaris.png');
  background-position: center;
  width: 100%;
  background-size: 100% auto;
  padding-top: 55%;
}

.imagen-hotel-6 {
  background-image: url('assets/Hotel-GRCaribeBySolarisDeluxe.png');
  background-position: center;
  width: 100%;
  background-size: 100% auto;
  padding-top: 55%;
}

.contenido__popular {
  padding: 1rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

}

.encabezado__tarjeta__popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.encabezado__tarjeta__popular h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.contenido__popular p {
  color: var(--texto-claro);
}

.info{
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  
}

.contenido__popular .btn__info {

  padding: 0.5rem 0.5rem;
  outline: none;
  border: none;
  font-size: 0.8rem;
  color: var(--blanco);
  background-color: var(--color-primario);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn__info:hover {
  background-color: var(--color-primario-oscuro);
}

.seccion__clientes {
  background-color: var(--extra-claro);
}

.grid__clientes {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.tarjeta__cliente {
  padding: 2rem;
  background-color: var(--blanco);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.tarjeta__cliente img {
  max-width: 80px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.tarjeta__cliente p {
  text-align: center;
  color: var(--texto-oscuro);
}

.recompensa__container {
  padding: 2rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.recompensa__container p {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--texto-claro);
}

.recompensa__container h4 {
  max-width: 500px;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.btn__recompensa {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--blanco);
  background-color: var(--color-primario);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn__recompensa:hover {
  background-color: var(--color-primario-oscuro);
}

.pie__pagina {
  background-color: var(--extra-claro);
}

.contenedor__pie__pagina {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 5rem;
}

.columna__pie h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.columna__pie h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-oscuro);
}

.columna__pie p {
  margin-bottom: 1rem;
  color: var(--texto-claro);
  cursor: pointer;
  transition: 0.3s;
}

.columna__pie p:hover {
  color: var(--texto-oscuro);
}

.barra__pie {
  position: relative;
  max-width: var(--ancho-maximo);
  margin: auto;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--texto-claro);
  text-align: right;
  overflow: hidden;
}

.barra__pie::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 28rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2px;
  background-color: var(--texto-claro);
}

@media (width < 900px) {
  .contenedor__reserva form {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__populares {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .grid__clientes {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .contenedor__pie__pagina {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .nav__enlaces {
    display: none;
  }

  .encabezado__contenedor {
    padding-bottom: 25rem;
  }

  .contenedor__reserva {
    flex-direction: column;
    bottom: -25rem;
  }

  .contenedor__reserva form {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid__populares {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid__clientes {
    grid-template-columns: repeat(1, 1fr);
  }

  .contenedor__pie__pagina {
    gap: 2rem;
  }
}